*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
}
#departments,
#staff{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: space-evenly;
    
}
.card {
    width: 300px;
    min-height: 150px;
    border: none;
    margin: 20px;
}
.card-body {
    position: relative;
    width: 300px;
    min-height: 150px;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    justify-content: center;
    top: 0;
    left: 0;
    padding: 2rem 1rem;
    position: absolute;
    width: auto;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
    transform-origin: center center center;
}

.card-flipped {
    transform-origin: center center;
    transform: rotateY(180deg);
}
.no-info{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);

}
/* styling for the form that adds a new department and staff */
div.add-form{
    position: fixed;
    top: 100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(4px) brightness(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all .9s ease;
}
div.add-form form.edit-form{
    padding: 2rem;
    border: none;
    overflow: hidden;
    background-color: white;
}
div.add-form form.edit-form div.buttons-div{
    display: flex;
    justify-content: space-between;
}
form.edit-form div.buttons-div button.btn-success{
    border: none;
    color: black;
    font-size: 25px;
    padding: 0 15px;
    width: 49%;
    background-color: #0d5ed7;
}
form.edit-form div.buttons-div button.btn-cancel{
    border: none;
    background-color: rgb(255, 51, 15);
    color: black;
    font-size: 25px;
    padding: 0 15px;
    width: 49%;
}
div.add-form form.edit-form label{
    color: black;
    font-size: 20px;
    font-weight: 900;
    font-family: serif;
    margin: 10px 0 0 0;
}
div.add-form form.edit-form input{
    width: 250px;
    border: 1px solid black;
    border-radius: 0;
}
div.add-form form.edit-form select{
    display: block  ;
    width: 250px;
    border: 1px solid black;
    border-radius: 0;
}

/* styling for the button that adds new staff and dept */
button.add-new{
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 100px;
    overflow: hidden;
    z-index: 2;
}
button.add-new img{
    background-color: white;
    width: 80px; 
}
button.add-new img:hover{
    background-color: #0d5ed7;
}